<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896572573197-6gj94o0dtgpeej5m92vh9bsificubaj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896572573197-6gj94o0dtgpeej5m92vh9bsificubaj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCgZzDLhaugohAHxfwy8LJECx8OjPrk7YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>896572573197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justindimichele</string>
	<key>PROJECT_ID</key>
	<string>rutabaga-d932a</string>
	<key>STORAGE_BUCKET</key>
	<string>rutabaga-d932a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896572573197:ios:87b4834b8a1dcf0b07b744</string>
	<key>DATABASE_URL</key>
	<string>https://rutabaga-d932a-default-rtdb.firebaseio.com</string>
</dict>
</plist>